html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(23, 22, 14);
    color: goldenrod;
    font-family: Verdana;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgb(107, 82, 18),rgb(70, 54, 14),rgb(23, 22, 14));
    /*background: radial-gradient(goldenrod,rgb(94, 74, 25),rgb(23, 22, 14));*/
    height: 95px;
    padding-left: 50px;
    padding-top: 15px;
    font-size: large;
    z-index: 1000;
}

.gap{
    height: 120px;
}

a {
    text-decoration: none;
    color: goldenrod;
}

nav{
    float: inline-end;
    padding-right: 20px;
}
  
nav a , nav ul li{
    color: goldenrod;
    font-size: medium;
    font-weight: bold;
    /*padding: 1px 3px;*/
    text-decoration: none;
    outline: 0;
}

ul li a:hover{
    border-bottom: 2px solid;
    color: white;
}

/*
a:hover:not(.img-with-text, .qrcode a, .icon a, h2 a) {
    border-bottom: 2px solid;
    color: white;
}
*/

.left-side-content a{
    color: white;
    text-shadow:black 2px 2px;
}
.left-side-content a:hover{
    background-color: gray;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropdown-menu li{
    display: block;
    text-align: left;
    margin: 10px;
}

ul li ul.dropdown-menu{
    z-index: 300;
    padding: 0;
    position: absolute;
    background-color: rgb(44, 33, 8);
    visibility: hidden;
    opacity: 0;
    display: none;
}

ul li ul li a{
    white-space: nowrap;
}

ul li:hover > ul.dropdown-menu{
    visibility: visible;
    opacity: 1;
    display: block;
}

.qr-container {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}

.qrcode, .icon{
    flex: 1;
    text-align: center;
}

.qrcode img{
    max-width: 100%;
    background-color: white;
}

.qrcode img:hover{
    background-color: gray;
}

.icon img{
    max-width: 100%;
}

.icon img:hover{
    background-color: rgb(181, 181, 181);
}


.info-container{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    gap: 2rem;
}


.info-item{
    flex: 1; /* make items have same spaces*/
    text-align: center;
    /*background: linear-gradient(to bottom right, goldenrod,rgb(23, 22, 14),rgb(23, 22, 14));*/
    background: linear-gradient(45deg, rgb(218, 165, 32, .3),rgb(23, 22, 14, .6),rgb(23, 22, 14 , .8));
    border-radius: 3px;
    padding: 1rem;
    padding-top: 0;
    /*
    border: 2px solid;
    border-color: none;
    */
    margin: auto;
}

.info2{
    background: none;
    margin: auto;
}

.info-item a:hover{
    border-bottom: 0px;
}

.info-item img{
    max-width: 100%
}


.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(71, 71, 71);
    z-index: 999;
}
.right-side, .left-side {
    text-align: center;
    flex: 1;
    font-size: small;
}

.left-side{
    margin: none;
    background-image: url("../imgs/girls/13.webp");
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    opacity: 0.8;
}

.left-side-content{
    margin-top: 100px;
}

@media screen and (max-width: 780px) {
    .header {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(goldenrod,rgb(23, 22, 14),rgb(23, 22, 14));
        height: 110px;
        padding-left: 0;
        padding-top: 15px;
        text-align: center;
        font-size: large;
        padding-bottom: 25px;
    }

    .gap{
        height: 150px;
    }

    nav{
        float: none;
    }

    nav a, nav ul li{
        font-size: small;
    }

    .left-side-content{
        margin-top: 0;
    }

    .left-side{
        order: 2;
    }

    .right-side{
        order: 1;
    }

    h1,h2 {
        font-size: 22px;
    }

    .info-container, .footer{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    ul li:focus > ul.dropdown-menu
    ul li:active > ul.dropdown-menu{
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .info1{
        order: 10;
    }

    .info2{
        order: 11;
    }

    .info3{
        order: 12;
    }

}