.counter{
    opacity: 1;
    color: white; 
    text-shadow: 1px 1px 1em red, -1px -1px 1em red; 
    float: inline-end; 
    text-align: center;
    background-color: rgb(0, 0, 0, .9);
    width: 8%;
    font-size: small;
}

.counter img{
    width: 100%;
}

a{
    text-decoration: none;
}
body{
    background-color: rgb(253, 239, 217);
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 5px black;
}

#logo{
    text-align: center;
    width: 20%;
}
h1, h2 {
    text-align: center;
    color: white;
}

h1{
    border-bottom: 2px solid white;
}
.special-h1{
    width: 60%; 
    margin: auto;
}

.div-serv{
    background: linear-gradient(to bottom right, rgb(218, 165, 32, .3),rgb(23, 22, 14, .5),rgb(23, 22, 14, .8));
    width: 85%;
    margin: auto;
}
.about{
    background: linear-gradient(to bottom right, rgb(218, 165, 32, .3),rgb(134, 98, 50));
    border-radius: 3px;
    padding: 1rem;
    padding-top: 0;
}
.text-content{
    width: 50%;
    margin: auto;
    word-wrap: break-word;
    font-size: 18px;
    color: white;
}

video{
    height: min-content;
    max-width: 100%;
}

.link-section{
    text-align: center;
}
.link-section a:hover{
    color: violet;
}

.aboutus{
    width: 100%;
    /*background-image: url(../imgs/girls/beauty.webp);*/
    opacity: 1;
    background-attachment: fixed;
}

.bg-color{
    margin: 0;
    padding: 120px auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 125, 125, 0.5), rgba(135, 135, 255, 0.5));
}

.aboutus-text{
    background-color: rgb(0, 0, 0, .5);
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: center;
}

.aboutus-text p{
    width: 80%;
    margin: 0 auto;
    color: white;
    line-height: 2.5;
    padding-left: 30px;
    padding-bottom: 50px;
    background-color: rgb(163, 163, 163,.7);
    font-size: large;
}

.aboutus a{
    color: white;
    border-bottom: 2px solid lightsalmon;
}

.aboutus a:hover{
    color: lightsalmon;
    border-bottom: 2px solid white;
}

.bebold{
    font-weight: bolder;
    letter-spacing: 1px;
    color: black;
}

.even{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.even1{
    flex:3;
    width: 100%;
    padding: 0;
    margin: 3px;
    background-color: rgb(134, 98, 50);
}

.even2{
    flex: 5;
    width: 100%;
    background-color: rgb(134, 98, 50);
    padding-top: 5%;
}

.even1 p{
    padding-inline: 2rem;
    
}
.even2 p{
    text-align: left;
    padding-inline: 2rem;
}

.video-contain, .info3 {
    background: none;
    text-align: center;
}

.vide-ver, .vide-hor{
    height: 538px;
}

.info-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}


.info-item{
    flex: 1; /* make items have same spaces*/
    text-align: center;
    /*background: linear-gradient(to bottom right, goldenrod,rgb(23, 22, 14),rgb(23, 22, 14));
    background: linear-gradient(45deg, rgb(218, 165, 32, .3),rgb(23, 22, 14, .6),rgb(23, 22, 14 , .8));
    border-radius: 3px;
    border: 2px solid;
    border-color: none;*/
    margin: auto;
    padding: 1rem;
    padding-top: 0;
}

.footerside h2{
    color: black;
}

.qr-container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}

.qrcode, .icon{
    flex: 1;
    text-align: center;
}

.qrcode img{
    max-width: 100%;
    background-color: white;
}

.qrcode img:hover{
    background-color: gray;
}

.icon img{
    max-width: 100%;
}

.icon img:hover{
    background-color: rgb(181, 181, 181);
}

@media screen and (max-width: 840px) {
    .counter{
        width: 80px;
    }

    #logo{
        width: 25%;
    }

    .text-content{
        width: 90%;
    }

    .aboutus-text p, .aboutus-text{
        width: 90%;
    }


    .aboutus-text p{
        line-height: 2;
        padding-inline: 5px;
        font-size: small;
    }

    .even{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .link-section{
        font-size: small;
    }

    .vide-ver{
        width: 45%;
        height: 67.5%;
    }

    .vide-hor{
        width: 90%;
        height: 72%;
    }

    .info-container{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .info1{
        order: 10;
    }

    .info2{
        order: 11;
    }

    .special-h1{
        width: 90%;
    }

    h1{
        font-size: larger;
    }
    h2{
        font-size: large;
    }
}